<div class="posts">

    <div class="post-header">
        <header>
            <div class='post_avatar'>
                <img class="avatar" src="https://randomuser.me/api/portraits/women/72.jpg" alt="">
            </div>
            <div class="header-username">
                <h3>jsondev 
                    <span><i class="fa fa-check-circle post_icon"></i></span> 
                </h3>
            </div>
        </header>
        <div class="btn-more" >
            <button><i class="fa fa-caret-down"></i></button>
        </div>
    </div>


    

    <div class="postBody">
        <div>
            
            <img class="images" src="https://media.giphy.com/media/13V0dy1zzyjbYTQQM/giphy.gif" alt="" srcset="">
        
            <div class="postFooter">
                <!-- Section buttoms -->
                <section>
                    <span class="_aamw">
                        <button>
                            <div><i class="fa fa-heart-o"></i></div>
                        </button>
                    </span>
                    <span class="_aamx">
                        <button>
                            <div><i class="fa fa-comment-o"></i></div>
                        </button>
                    </span>
                    <span class="_aamy">
                        <button>
                            <div><i class="fa fa-paper-plane-o"></i></div>
                        </button>
                    </span>
                    <span class="_aamz">
                        <button>
                            <div><i class="fa fa-bookmark-o"></i></div>
                        </button>
                    </span>
                </section>

                <!-- Section información likes -->
                <section>
                    <div>
                        <div class="avatar-likes">
                            <img src="https://randomuser.me/api/portraits/women/72.jpg" alt="">
                        </div>
                        <div class="text-likes">
                            <div>
                                <span>Les gusta a <strong>paola</strong>  y a 1020 personas más</span>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Description-->
                <div class="postDescription">
                    <div>
                        <p><strong>lujadev</strong> Lerem ipsum dolor sit amet consectur adpiscion elit. A nostrum rem vitae asprectur magne repella comodit earum ipsam odit eius!</p>
                    </div>
                    <div class="traductor">
                        <span>Ver traducción</span>
                    </div>
                    <div class="comments">
                        <a href="">Ver los 1122 comentarios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
