/*Post*/
.posts {
    padding: 10px 15px;
    /*border-top: 1px solid #ddd;*/
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
}

.post_avatar {
    margin-top: 4px;
}

/*PostBoddy*/
.postBody {
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
}

.postBody > div span {
    font-weight: 600;
    font-size: 15px;
    color: #5b7083;
}

.post_icon {
    font-size: 14px !important;
    color: var(--twitterColor) !important;
}

h3 {
    padding: 0;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: fill;
}


.images {
    border-radius: 20px;
    min-width: 100%;
    width: 100%;
    min-height: 300px;
}

.postFooter {
    border: 1px solid #fff;
}

.postFooter > section {
    display: flex;
    flex-direction: row;
}

/*Button1*/
.postFooter > section > span._aamw {
    display: inline-block;
    margin-left: -8px;
}

.postFooter > section > span._aamw > button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.postFooter > section > span._aamw > button > div > i {
    font-size: 22px;
}

/*Button2*/
.postFooter > section > span._aamx > button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.postFooter > section > span._aamx > button > div > i {
    font-size: 22px;
}

/*Button3*/
.postFooter > section > span._aamy > button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.postFooter > section > span._aamy > button > div > i {
    font-size: 22px;
}

/*Button4*/
.postFooter > section > span._aamz {
    border: 0;
    display: inline-block;
    font: inherit;
    font-size: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: -10px;
    padding: 0;
    vertical-align: baseline;
}

.postFooter > section > span._aamz > button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.postFooter > section > span._aamz > button > div > i {
    font-size: 22px;
}


/*Section info likes*/
.postFooter > section > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
}


.postFooter > section > div > div > img {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

/*postDescription*/
.postDescription {
    margin-top: 10px;
}

.postDescription > p {
    margin: 0;
    padding: 0;
    color: #0f1419;
    font-size: 16px;
    line-height: 16.6875px;
}