<div class="posts">
    <div class='post_avatar'>
        <img class="avatar" src="https://randomuser.me/api/portraits/women/72.jpg" alt="">
    </div>

    <div class="postBody">
        <div>
            <div>
                <h3>Json dev <span>
                    <i class="fa fa-check-circle post_icon"></i>
                    @jhoandev1 </span> 
                </h3>

                <div class="postDescription">
                    <p>Lerem ipsum dolor sit amet consectur adpiscion elit. A nostrum rem vitae asprectur magne repella comodit earum ipsam odit eius!</p>
                </div>
            </div>

            <img class="images" src="https://media.giphy.com/media/13V0dy1zzyjbYTQQM/giphy.gif" alt="" srcset="">
        </div>
    </div>
</div>
