<div class="tweetbox">
    <form>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">

            <div class="columns">
                <input text="text" placeholder='Dejenos un tweet' />
                <input text="text" placeholder='Usuario' />
            </div>
        </div>

        <div>
            <div class="divBox">
                <i class="fa fa-file-image-o"></i>
            </div>

            <input text="text" placeholder='Opcion: url de la img/gif' />

            <button>Tweet</button>

        </div>
    </form>
</div>
