.tweetbox {
    padding: 15px 15px;
    margin: 0;
    background-color: #fff;
    display: grid;
    place-items: center;
    /* height: 100vh; */
    font-family: 'Montserrat', sans-serif;
}

#carousel {
    height: calc(34vh - 170px);
    width: calc(77vw - 150px);
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: space-between;
}

.card {
    flex-shrink: 0;
    background-color: #545454;
    height: 100%;
    /* width: calc(20% - 8px); */
    width: calc(8% - 8px);
    margin: 0 5px;
    transition: transform 1s;
    background-repeat: no-repeat;
    background-size: auto 120%;
    background-position: center;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

.card:hover {
  background-size: auto 100%;
}
.card:first-child { margin-left: 0; }
.card:last-child { margin-right: 0; }

.card > img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 120%;
    background-position: center;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    border-radius: 50%;
}

.card p {
  margin: 0;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 10vw;
  color: white;
  transition: all 0.3s;
  transform: scale(1);
}
.card:hover p {
  background-color: rgba(0,0,0,0.3);
  transform: scale(1.3);
}

#pagination {
  position: absolute;
  bottom: 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 20px;
  margin: 2px;
  cursor: pointer;
  transition: width 0.2s;
}
.ball:first-child {
  width: 25px;
}

#leftArrow {
  left: 24rem;/*0;*/
}

#rightArrow {
  right: 36rem;
}

.arrow {
  position: absolute;
  height: auto;
  width: 75px;
  color: #000;
  font-size: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
}



@media only screen and (max-width: 1600px) {
    .card {
        flex-shrink: 0;
        background-color: #545454;
        height: 100%;
        width: calc(9% - 8px);
        margin: 0 5px;
        transition: transform 1s;
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-position: center;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
    }
    #leftArrow {
        left: 5rem;
    }
      
    #rightArrow {
        right: 36rem;
    }
}


@media only screen and (max-width: 1400px) {
    .card {
        flex-shrink: 0;
        background-color: #545454;
        height: 100%;
        width: calc(9% - 8px);
        margin: 0 5px;
        transition: transform 1s;
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-position: center;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
    }
    #leftArrow {
        left: 5rem;
    }
      
    #rightArrow {
        right: 36rem;
    }
}

@media only screen and (max-width: 1280px) {
    .card {
        flex-shrink: 0;
        background-color: #545454;
        height: 100%;
        width: calc(9% - 8px);
        margin: 0 5px;
        transition: transform 1s;
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-position: center;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
    }
    #leftArrow {
        left: 5rem;
    }
      
    #rightArrow {
        right: 36rem;
    }
}

@media only screen and (max-width: 1160px) {
    .card {
        flex-shrink: 0;
        background-color: #545454;
        height: 100%;
        width: calc(13% - 8px);
        margin: 0 5px;
        transition: transform 1s;
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-position: center;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
    }

    #leftArrow {
        left: 8rem;
    }
      
    #rightArrow {
        right: 2rem;
    }
}
  
@media only screen and (max-width: 1004px) {
  
    .card {
        flex-shrink: 0;
        background-color: #545454;
        height: 100%;
        width: calc(13% - 8px);
        margin: 0 5px;
        transition: transform 1s;
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-position: center;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
    }
}
  
@media only screen and (max-width: 500px) {

    #carousel {
        height: calc(34vh - 170px);
        width: calc(100vw - 0px);
        overflow: hidden;
        scroll-behavior: smooth;
        display: flex;
        justify-content: space-between;
    }

    .card {
        flex-shrink: 0;
        background-color: #545454;
        height: 100%;
        width: calc(17% - 0px);
        margin: 0 5px;
        transition: transform 1s;
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-position: center;
        transition: all 0.3s;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
    }
   
    #leftArrow {
        left: 0rem;
    }
      
    #rightArrow {
        right: 0rem;
    }

}