.tweetbox {
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div {
    display: flex;
    max-width: 100% !important;
}

div > div.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 16px;
}

div > div.columns > input {
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 19px;
    line-height: 25px;
    color: #0f1419;
}

div > input {
    margin-left: 10px;
    width: 100%;
    flex: 1;
    border: none;
    outline: 0;
    font-size: 19px;
    line-height: 24px;
    color: #0f1419;
}

div > button {
    background-color: var(--twitterColor) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 900 !important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 20px !important;
    border-radius: 30px !important;
    text-transform: inherit !important;
} 

.divBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divBox > i {
    fill: var(--twitterColor);
    margin-left: 1rem;
    /*color: 2px solid var(--twitterColor);*/
    color: var(--twitterColor);
    width: 20px;
    height: 20px;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

/*.divBox > i:nth-child(1) {
    border: 1px solid var(--twitterColor);
}*/

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: fill;
}
