<div class="tweetbox">
    <form>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div>
            <img class="avatar" src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        
    </form>
</div>
