.tweetbox {
    padding: 5px 15px;
}

form {
    display: flex;
    /*flex-direction: column;*/
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

div {
    display: flex;
    max-width: 100% !important;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: fill;
}
