<div class="tweetbox">
    <div id="carousel">
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        <div class="card">
            <img src="https://randomuser.me/api/portraits/women/59.jpg" alt="">
        </div>
        
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
    
    <div id="pagination">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
      

    <!-- <i id="leftArrow" class="arrow fa-solid fa fa-arrow-left"></i> -->
    <!-- <i id="rightArrow" class="arrow fa-solid fa-caret-right"></i> -->
    <i id="leftArrow" class="arrow fa-solid fa fa-chevron-circle-left"></i>
    <i id="rightArrow"  class="arrow fa-solid fa fa-chevron-circle-right"></i>

</div>