.app {
  display: flex;
  height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
}

.container-sidebar {
  padding: 20px;
  border-right: 1px solid #ddd;
  flex: 0.2;
  min-width: 255px;
}

.container-home {
  flex: 0.5;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-home::-webkit-scrollbar {
  display:none;
}

.container-widget {
  flex: 0.3;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 30px 10px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-widget::-webkit-scrollbar {
  display:none;
}