.app {
  display: flex;
  height: 100vh;
  max-width: 100%;/*1250px;*/
  margin: 0 auto;
}

/* ----- Container-sidebar ----- */
.container-sidebar {
  padding: 20px;
  border-right: 1px solid #ddd;
  flex: 0.2;
  min-width:  255px;
}

@media only screen and (max-width: 1280px) {
  .container-sidebar {
    flex: 0.05;
    min-width: 50px;
  }
}

@media only screen and (max-width: 1004px) {
  .container-sidebar {
    width: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .container-sidebar {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    height: 50px;
    background-color: #fff;
    width: 100%;
    padding: 0;
  }
}

/* ----- Container-home ----- */
.container-home {
  flex: 0.5;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-home::-webkit-scrollbar {
  display:none;
}

@media only screen and (max-width: 1200px) {
  .container-home {
    flex: 0.55;
  }
}

@media only screen and (max-width: 1160px) {
  .container-home {
    flex: 0.95;
  }
}


@media only screen and (max-width: 1004px) {
  .container-home {
    flex: 0.95;
  }
}

@media only screen and (max-width: 500px) {
  .container-home {
    flex: 1;
  }
}

/* ----- Container-widget ----- */
.container-widget {
  flex: 0.3;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0 30px 10px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-widget::-webkit-scrollbar {
  display:none;
}

@media only screen and (max-width: 1280px) {
  .container-widget {
    flex: 0.4;
  }
}

@media only screen and (max-width: 1200px) {
  .container-widget {
    flex: 0.4;
  }
}

@media only screen and (max-width: 1160px) {
  .container-widget {
    display: none;
  } 
}

@media only screen and (max-width: 1004px) {
  .container-widget {
    display: none;
  } 
}