<!--<app-title-h1 type="danger" text="Lista de usuarios"></app-title-h1>-->

<div class="container">
    <div class="twitter-logo">
        <app-icon-options type="fa fa-twitter"></app-icon-options>
    </div>
    <app-icon-options active="active" text="Home" type="fa fa-home"></app-icon-options>
    <app-icon-options text="Explorar" type="fa fa-search"></app-icon-options>
    <app-icon-options text="Notificaciones" type="fa fa-bell-o"></app-icon-options>
    <app-icon-options text="Mensaje" type="fa fa-envelope-o"></app-icon-options>
    <app-icon-options primary="primary" text="Marcadores" type="fa fa-bookmark-o"></app-icon-options>
    <app-icon-options primary="primary" text="Listas" type="fa fa-list"></app-icon-options>
    <app-icon-options primary="primary" text="Perfil" type="fa fa-user-o"></app-icon-options>
    <app-icon-options primary="primary" text="Más" type="fa fa-chevron-up"></app-icon-options>
</div>