
.container > .twitter-logo {
    margin: 10px 0;
    width: 46px;
    height: 30px;
    fill: var(--twitterColor) !important;
}


@media only screen and (max-width: 500px) {
    .container {
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 999;
      height: 50px;
      width: 100%;
      padding: 0;
    }

    .twitter-logo {
        display: none;
    }
}
  