.sidebarIcon {
    display: flex;
    align-items: center;
    padding: 14px 10px;
}

.sidebarIcon > h2 {
    font-size: 19px;
    margin: 0 15px 0 20px;
}

@media only screen and (max-width: 1280px) {
    .sidebarIcon {
        border-radius: 50%;
    }
    
    .sidebarIcon > h2 {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .sidebarIcon {
        color: #b8b8b8;
        /*display: ${props => props.primary ? "none": "" };*/
        color: var(--twitterColor);
    }
    .primary {
        display: none;
    }
}

.sidebarIcon > i {
    width: 30px;
    height: 30px;
    font-size: 19px;
}

.sidebarIcon:hover {
    background-color: var(--hover) !important;
    color: var(--twitterColor);
    transForm: color 100ms ease-out;
    border-radius: 9999px !important;

    /*background-color: var(--hover) !important;
    border: none !important;
    color: var(--twitterColor) !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    height: 46px !important;
    padding: 0 30px !important;
    border-radius: 9999px !important;
    margin-top: 20px;*/
}

.active {
    color: var(--twitterColor) !important;
    background-color: var(--hover) !important;
    border-radius: 9999px !important;

    /*background-color: var(--hover) !important;
    border: none !important;
    color: var(--twitterColor) !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    height: 46px !important;
    padding: 0 30px !important;
    border-radius: 9999px !important;
    margin-top: 20px;*/
   
}

