<div class="follow">
    <!-- HEADER -->
    <div class='post_avatar'>
        <img class="avatar" src="https://randomuser.me/api/portraits/women/72.jpg" alt="">
    </div>

    <!-- BODY -->
    <div class="postBody">
        <div>
            <div>
                <div class="grid">
                    <div class="columns">
                        <h3>userweb <i class="fa fa-check-circle post_icon"></i></h3>
                    <span>@userweb</span>
                    </div>
                    <button>Follow</button>
                </div>
            </div>
        </div>
    </div>
</div>
